body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Navbar { 
  background-color: rgba(0, 208, 255, 0.625);
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.brand{
  margin-right: 2rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.navLinks{
  display: inline;
}

.navLinks > a {
  margin-right: 1rem;
  cursor: pointer;
}

div.navLinks> a.active{
  color: purple
}

