body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ProductTable{
  width: 50%;
  margin: 1rem auto 0;
  border: 1px solid black;
  padding: 16px;
}

.ProductTable > div.ProductTableHeading {
  display: flex;
  justify-content: space-around
}


.FilteredProductTable{
  width: 75%;
  margin: 0 auto 0;
  padding: 16px;
  border: 1px solid orange;
}


.Searchbar{
  width: 50%;
  margin: 0 auto 0;
  border: 1px solid yellow;
  padding: 16px;
  overflow: auto
}

.Searchbar > div, .Searchbar> label{
  display: flex;
  justify-content: center;
  align-items: center;
}


.ProductCategoryRow > .catName{
  color: red;
  padding-top: 10px;
  display: flex ;
  justify-content: center
  
}

.ProductRow {
  padding-top: 10px;
  display: flex;
  justify-content: space-around
}



